
<!-- Con esos {{ X }} se manda a llamar variables del componente-->

<div id="titulo">
    <h1>{{titulo}}</h1>
    <h2>{{subtitulo}}</h2>
    <p>{{email}}</p>
</div>

<article class="sobremi">
    <h2> Sobre mi </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacus orci, sodales vitae nisi sit amet, congue aliquam sem. Nullam consequat nunc eget justo euismod sagittis. Donec imperdiet tempor ante eget lacinia. Nullam turpis velit, efficitur non sapien in, auctor commodo dolor. Sed consectetur lectus ullamcorper erat egestas molestie. Proin vitae porttitor nibh. Proin ac sagittis justo, at vulputate risus. Quisque semper magna velit, id laoreet magna pretium vel. Integer tempus, ante in suscipit suscipit, tellus nunc consectetur nisl, in auctor dui diam ut metus. Morbi porttitor rutrum sodales.
    </p>
</article>